
Test.bmp
Main.exe
header.exe
Test2.bmp
Main.execls
FilterBMP.bmp
closerzwartwit.exe
closersmoother.exe
Test_RGB.bmp
FilterBMP_RGB.bmp
64x32.bmp
Test5.bmp
*.bmp
*.bmp
Test5.bmp
Test4.bmp
Test3.bmp
TestFiles/closernegatief.exe
